@mixin switch-box($width, $height, $bg_col, $radius: $width) {
    &:after {
        content: "";
        display: inline-block;
        width: $width;
        height: $height;
        background-color: $bg_col;
        position: absolute;
        border-radius: $width;
        transition: background-color 1s ease;
    }
}

@mixin switch-toggle($width, $bg_col, $radius: $width) {
    &:before {
        content: "";
        display: inline-block;
        width: $width;
        height: $width;
        background-color: $bg_col;
        position: absolute;
        border-radius: $radius;
        z-index: 1;
        left: 0;
        transition: left 0.5s ease;
    }
}

@mixin switch-toggle-checked($lf_len) {
    left: $lf_len;
}

@mixin switch-box-checked($checked_col) {
    background-color: $checked_col;
} 

@mixin checkbox-switch-one($width, $height, $tog_col, $box_col, $radius: $height) {
    $tog_width: $height;
    $checked_box_col: lighten($box_col, 30%);

    width: $width;
    height: $height;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    @include switch-box($width, $height, $box_col);
    @include switch-toggle($tog_width, $tog_col);
    &:checked:before {
        @include switch-toggle-checked($width - $tog_width);
    }
    &:checked:after {
        @include switch-box-checked($checked_box_col);
    }
}