@mixin switch-box($width, $height, $bg_col, $radius: $width) {
    &:after {
        content: "";
        display: inline-block;
        width: $width;
        height: $height;
        background-color: $bg_col;
        position: absolute;
        border-radius: $width;
        transition: background-color 1s ease;
    }
}

@mixin switch-toggle($width, $bg_col, $radius: $width) {
    &:before {
        content: "";
        display: inline-block;
        width: $width;
        height: $width;
        background-color: $bg_col;
        position: absolute;
        border-radius: $radius;
        z-index: 1;
        left: 0;
        transition: left 0.5s ease;
    }
}

.checkbox-input {
    width: 50px;
    height: 25px;
    position: relative;
    vertical-align: middle;
    @include switch-box(50px, 25px, #eee);
    @include switch-toggle(25px, #000);
    &:checked:before {
        left: 25px;
    }
    &:checked:after {
        background-color: #aaa;
    }
}