.sl-checkbox {
    display: inline-block;
    position: relative;
    > .checkbox-input {
        display: none;
        &:checked {
            + .switch-label:after {
                left: 25px;
            }
            + .switch-label:before {
                background-color: #444;
            }
        }
    }
    > .switch-label {
        left: 0;
        display: inline-block;
        width: 50px;
        height: 25px;
        border-radius: 25px;
        background-color: #000;
        position: relative;
        cursor: pointer;
        vertical-align: middle;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 50px;
            height: 25px;
            border-radius: 25px;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            background-color: #fff;
        }
    }
}